@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply xpo_font-sans;
  }
}
.hunter-table {
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: #987A56;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #5c3b10;
    border-radius: 4px;
  }
}

td.xpo_border.xpo_p-2.xpo_text-white {
  color: #333;
}