@tailwind base;
@tailwind components;
@tailwind utilities;


@theme {
    --breakpoint-tablet: 40rem;
    --breakpoint-laptop: 64rem;
    --breakpoint-desktop: 80rem;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px
    --breakpoint-xl: 1280px
    --breakpoint-2xl: 1536px;  
    --breakpoint-3xl: 1920px;  
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
/* @custom-variant light (&:where([data-theme=light], [data-theme=light] *)); */

.xpo_container {
  @apply xpo_max-w-7xl xpo_mx-auto xpo_px-4;
}
.sc_store-front {
  background: transparent;
}