/* Figma Styles of your File */
:root {
  /* Colors */
  --foundation-grey-grey-1: #eae9e9;
  --foundation-grey-grey-2: #cccbcb;
  --foundation-grey-grey-3: #a3a1a2;
  --foundation-grey-grey-4: #787676;
  --foundation-grey-grey-5: #504c4d;
  --foundation-grey-grey-6: #292526;
  --foundation-grey-grey-7: #231f20;
  --foundation-grey-grey-8: #1d1a1b;
  --foundation-grey-grey-9: #171516;
  --foundation-grey-grey-10: #121111;
  --foundation-neutral-grey-1: #ffffff;
  --foundation-neutral-grey-2: #fdfdfd;
  --foundation-neutral-grey-3: #f6f6f6;
  --foundation-neutral-grey-4: #f2f2f2;
  --foundation-neutral-grey-5: #dfdede;
  --foundation-neutral-grey-6: #cac9c9;
  --foundation-neutral-grey-7: #9f9d9d;
  --foundation-neutral-grey-8: #747172;
  --foundation-neutral-grey-9: #636061;
  --foundation-neutral-grey-10: #494647;
  --foundation-neutral-grey-11: #433f40;
  --foundation-neutral-grey-12: #3a3637;
  --foundation-neutral-grey-13: #292526;

  /* Fonts */
  /* Effects */
}
/* Figma Color Variables of your File */
